<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Lampada</title>
</head>

<body>
    {% if rs == True %}
    <div style="display:table; align-items:center;">
        <div class='box' id='box1' style="cursor: pointer;display: inline-block"  name="checkyel">
            <div id='circle' style="background-color:yellow">
            <div id='shine'></div>
            </div>
            <div id='trapezoid'  style="background-color:yellow"></div>
            <div id='bottom1'></div>
            <div id='bottom2'></div>
            <div id='bottom3'></div>
        
            <div id='halfCircle'></div>
        
            <div class='drop' id='left'></div>
            <div class='drop' id='right'></div>
        
            <div id='wire'></div>
        
        </div>
    

        <div class='box' id='box2' style="cursor: pointer;display: inline-block" name="checkblue">
            <div id='circle' style="background-color:#0363f8">
            <div id='shine' ></div>
            </div>
        
            <div id='trapezoid' style="background-color:#0363f8"></div>
            <div id='bottom1'></div>
            <div id='bottom2'></div>
            <div id='bottom3'></div>
        
            <div id='halfCircle'></div>
        
            <div class='drop' id='left'></div>
            <div class='drop' id='right'></div>
        
            <div id='wire'></div>
        
        </div>

        <div style="cursor: pointer;display: inline-block; position:absolute;top:365px" >
            <h4>Turn On/Off Sound Sensor</h4>
                <label class="switch">
                    <input type="checkbox" id="sensor" name="checksensor" checked>
                    <span class="slider round"></span>
                </label>
        </div>
      
    </div>
    <script>
        status_led1 = true
        status_led2 = true
        status_sensor = true
        click_sensor = 2
        function turnLed1On(id){
            circle = '#' + id + ' #circle'
            trapezoid = '#' + id + ' #trapezoid'
            if (!status_led1)
            {
                $(circle).css('background-color','yellow');
                $(trapezoid).css('background-color', 'yellow');
                status_led1 = true;
            }
            else
            {
                $(circle).css('background-color','white');
                $(trapezoid).css('background-color', 'white');
                status_led1 = false;
            }
        }

        function turnLed2On(id){
            circle = '#' + id + ' #circle'
            trapezoid = '#' + id + ' #trapezoid'
            if (!status_led2)
            {
                $(circle).css('background-color','#0363f8');
                $(trapezoid).css('background-color', '#0363f8');
                status_led2 = true;
            }
            else
            {
                $(circle).css('background-color','white');
                $(trapezoid).css('background-color', 'white');
                status_led2 = false;
            }
        }

        function handleSensor(){
            $('#box1 #circle').css('background-color','white');
            $('#box1 #trapezoid').css('background-color', 'white');
            $('#box2 #circle').css('background-color','white');
            $('#box2 #trapezoid').css('background-color', 'white');
            status_led1 = false;
            status_led2 = false;
        }

        let box1 = document.querySelector('#box1');
        let box2 = document.querySelector('#box2');
        let sensor = document.querySelector('#sensor');
        box1.onclick = handleClick("box1")
        box2.onclick = handleClick("box2")
        sensor.onclick = handleClick("sensor")

        function handleClick(id) {
            return () => {
                if (id == 'box1')
                {
                    turnLed1On(id)
                }
                   
                if (id == 'box2')
                {
                    turnLed2On(id)
                }
                  
                if (id == 'sensor')
                {
                    handleSensor()
                    click_sensor += 1
                    if (click_sensor % 2 == 0)
                    {
                        status_sensor = true
                    }
                       
                    else {
                        status_sensor = false
                    }
                }
          
                fetch("http://127.0.0.1:5000/turnON", {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    checkyel: status_led1,
                    checkblue: status_led2,
                    checksensor: status_sensor,
                }),
                })
              
            }
        }
    </script>

    {% endif %}

    {% if rs == False %}
    <div style="display:table; align-items:center;">
        <div class='box' id='box1' style="cursor: pointer;display: inline-block"  name="checkyel">
            <div id='circle' style="background-color: white">
            <div id='shine'></div>
            </div>
            <div id='trapezoid' style="background-color: white"></div>
            <div id='bottom1'></div>
            <div id='bottom2'></div>
            <div id='bottom3'></div>
        
            <div id='halfCircle'></div>
        
            <div class='drop' id='left'></div>
            <div class='drop' id='right'></div>
        
            <div id='wire'></div>
        
        </div>
    

        <div class='box' id='box2' style="cursor: pointer;display: inline-block" name="checkblue">
            <div id='circle' style="background-color: white">
            <div id='shine'></div>
            </div>
        
            <div id='trapezoid' style="background-color: white"></div>
            <div id='bottom1'></div>
            <div id='bottom2'></div>
            <div id='bottom3'></div>
        
            <div id='halfCircle'></div>
        
            <div class='drop' id='left'></div>
            <div class='drop' id='right'></div>
        
            <div id='wire'></div>
        
        </div>

        <div style="cursor: pointer;display: inline-block; position:absolute;top:365px" >
            <h4>Turn On/Off Sound Sensor</h4>
                <label class="switch">
                    <input type="checkbox" id="sensor" name="checksensor">
                    <span class="slider round"></span>
                </label>
        </div>
      
    </div>

    <script>
        status_led1 = false
        status_led2 = false
        status_sensor = false
        click_sensor = 1
        function turnLed1On(id){
            circle = '#' + id + ' #circle'
            trapezoid = '#' + id + ' #trapezoid'
            if (!status_led1)
            {
                $(circle).css('background-color','yellow');
                $(trapezoid).css('background-color', 'yellow');
                status_led1 = true;
            }
            else
            {
                $(circle).css('background-color','white');
                $(trapezoid).css('background-color', 'white');
                status_led1 = false;
            }
        }

        function turnLed2On(id){
            circle = '#' + id + ' #circle'
            trapezoid = '#' + id + ' #trapezoid'
            if (!status_led2)
            {
                $(circle).css('background-color','#0363f8');
                $(trapezoid).css('background-color', '#0363f8');
                status_led2 = true;
            }
            else
            {
                $(circle).css('background-color','white');
                $(trapezoid).css('background-color', 'white');
                status_led2 = false;
            }
        }

        function handleSensor(){
            $('#box1 #circle').css('background-color','white');
            $('#box1 #trapezoid').css('background-color', 'white');
            $('#box2 #circle').css('background-color','white');
            $('#box2 #trapezoid').css('background-color', 'white');
            status_led1 = false;
            status_led2 = false;
        }

        let box1 = document.querySelector('#box1');
        let box2 = document.querySelector('#box2');
        let sensor = document.querySelector('#sensor');
        box1.onclick = handleClick("box1")
        box2.onclick = handleClick("box2")
        sensor.onclick = handleClick("sensor")

        function handleClick(id) {
            return () => {
                if (id == 'box1')
                {
                    turnLed1On(id)
                }
                   
                if (id == 'box2')
                {
                    turnLed2On(id)
                }
                  
                if (id == 'sensor')
                {
                    handleSensor()
                    click_sensor += 1
                    if (click_sensor % 2 == 0)
                    {
                        status_sensor = true
                    }
                       
                    else {
                        status_sensor = false
                    }
                }
          
                fetch("http://127.0.0.1:5000/turnON", {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    checkyel: status_led1,
                    checkblue: status_led2,
                    checksensor: status_sensor,
                }),
                })
              
            }
        }
    </script>
    {% endif %}
</body>

</html>