<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Lampada</title>
</head>

<body>
    <div style="display:table; align-items:center;">
        <div class='box' id='box1' style="cursor: pointer;display: inline-block"  name="led_yellow">
            <div id='circle'>
            <div id='shine'></div>
            </div>
            <div id='trapezoid'></div>
            <div id='bottom1'></div>
            <div id='bottom2'></div>
            <div id='bottom3'></div>
        
            <div id='halfCircle'></div>
        
            <div class='drop' id='left'></div>
            <div class='drop' id='right'></div>
        
            <div id='wire'></div>
        
        </div>
    

        <div class='box' id='box2' style="cursor: pointer;display: inline-block" name="led_blue">
            <div id='circle'>
            <div id='shine'></div>
            </div>
        
            <div id='trapezoid'></div>
            <div id='bottom1'></div>
            <div id='bottom2'></div>
            <div id='bottom3'></div>
        
            <div id='halfCircle'></div>
        
            <div class='drop' id='left'></div>
            <div class='drop' id='right'></div>
        
            <div id='wire'></div>
        
        </div>

        <div style="cursor: pointer;display: inline-block; position:absolute;top:365px" >
            <h4>Turn On/Off Both Leds</h4>
                <label class="switch">
                    <input type="checkbox" id="both_leds" name="checkbothleds">
                    <span class="slider round"></span>
                </label>
        </div>
      
    </div>

    <script>
        status_led1 = false
        status_led2 = false
        count_both = 1
        function turnLed1On(id){
            circle = '#' + id + ' #circle'
            trapezoid = '#' + id + ' #trapezoid'
            if (!status_led1)
            {
                $(circle).css('background-color','yellow');
                $(trapezoid).css('background-color', 'yellow');
                status_led1 = true;
            }
            else
            {
                $(circle).css('background-color','white');
                $(trapezoid).css('background-color', 'white');
                status_led1 = false;
            }
        }

        function turnLed2On(id){
            circle = '#' + id + ' #circle'
            trapezoid = '#' + id + ' #trapezoid'
            if (!status_led2)
            {
                $(circle).css('background-color','#0363f8');
                $(trapezoid).css('background-color', '#0363f8');
                status_led2 = true;
            }
            else
            {
                $(circle).css('background-color','white');
                $(trapezoid).css('background-color', 'white');
                status_led2 = false;
            }
        }

        function control2Led(){
            count_both += 1
            if (status_led1== true && status_led2 == true)
            {
                if (count_both % 2 != 0)
                {
                    console.log('turn off both');
                    $('#box1 #circle').css('background-color','white');
                    $('#box1 #trapezoid').css('background-color', 'white');
                    $('#box2 #circle').css('background-color','white');
                    $('#box2 #trapezoid').css('background-color', 'white');
                    status_led1 = false;
                    status_led2 = false;
                }
            }
            else
            {
                if (count_both % 2 == 0)
                {
                    console.log('turn on both');
                    $('#box1 #circle').css('background-color','yellow');
                    $('#box1 #trapezoid').css('background-color', 'yellow');
                    $('#box2 #circle').css('background-color','#0363f8');
                    $('#box2 #trapezoid').css('background-color', '#0363f8');
                    status_led1 = true;
                    status_led2 = true;
                }
                else{
                    console.log('turn off both');
                    $('#box1 #circle').css('background-color','white');
                    $('#box1 #trapezoid').css('background-color', 'white');
                    $('#box2 #circle').css('background-color','white');
                    $('#box2 #trapezoid').css('background-color', 'white');
                    status_led1 = false;
                    status_led2 = false;
                }
            }
        }

        
        function handleStateBoth()
        {
            if (status_led1 == true && status_led2 == true)
            {
                console.log('add atr')
                $('input[type="checkbox"]').prop("checked", true);
                count_both = 2
            }
            if (status_led1 == false && status_led2 == false)
            {
                console.log('remov atr')
                $('#both_leds').removeAttr("checked");
                count_both = 1
            }
        }


        let box1 = document.querySelector('#box1');
        let box2 = document.querySelector('#box2');
        let both_leds = document.querySelector('#both_leds');
        box1.onclick = handleClick("box1")
        box2.onclick = handleClick("box2")
        both_leds.onclick = handleClick("both_leds")

        function handleClick(id) {
            return () => {
                if (id == 'box1')
                {
                    turnLed1On(id)
                    handleStateBoth()
                }
                   
                if (id == 'box2')
                {
                    turnLed2On(id)
                    handleStateBoth()
                }
                  
                if (id == 'both_leds')
                {
                    control2Led()
                }
                   
          
                fetch("http://127.0.0.1:5000/turnON", {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    led_yellow: status_led1,
                    led_blue: status_led2,
                }),
                })
              
            }
        }

    </script>
</body>

</html>